body {
  background-color: #000;
  color: #fff;
  font-family: 'VT323', monospace;
}

h1 {
  font-size: 100px;
  text-align: center;
  font-family: 'Creepster', cursive;
  padding-top: 20px;
  margin: 10px auto;
  margin-bottom: 30px;
}

li img {
  height: 20px;
}

li {
  display: inline;
}

button {
  height: 60px;
  width: 200px;
  margin: 10px auto;
  text-align: center;
  color: white;
  background-color: #0000ff;
  border: 8px solid white;
  font-size: 20px;
  font-weight: bold;
  font-family: 'VT323', monospace;
}

#roundCounter {
  font-size: 50px;
}

footer {
  height: 50px;
}

#lives {
  margin-top: 10px;
}

#headMessage {
  font-size: 30px;
  margin-bottom: 20px;
}

p {
  font-size: 20px;
  margin-bottom: 10px;
}

#dynamicTag, #myTurn, #yourTurn {
  font-size: 30px;
  background-color: #ff0000;
  width: 300px;
  margin: 10px;
  text-align: center;
}

#yourTurn {
  background-color: #0000ff;
}

ul {
  font-size: 25px;
}

#exitButton {
  float: right;
  background-color: #ff0000;
  width: 100px;
  height: 30px;
  border: 3px solid #fff;
}

#arrowImages {
  width: 300px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

#correct, #wrong {
  width: 300px;
  font-size: 30px;
  margin: auto;
  text-align: center;
}

#correct {
  color: #00ff00;
}

#wrong {
  color: #ff0000;
}

#next {
  background-color: #fff000;
  color: #000;
}

#submit {
  background-color: #00ff00;
  color: #000;
}

a {
  text-decoration: none;
}