body {
  width: 100%;
  margin: auto;
  font-family: 'VT323', monospace;
  background-color: #000;
  color: #fff;
}

h1 {
  font-size: 100px;
  text-align: center;
  font-family: 'Creepster', cursive;
  padding-top: 20px;
}

header {
  height: 150px;
}

button {
  height: 60px;
  width: 200px;
  margin: 10px auto;
  text-align: center;
  color: white;
  background-color: #ff0000;
  border: 8px solid white;
  font-size: 20px;
  font-weight: bold;
  font-family: 'VT323', monospace;
}

#about-button, #images {
  text-align: center;
  margin: auto;
}

#about {
  margin-top: 0px;
  background-color: #0000ff;
}

form {
  width: inherit;
  text-align: center;
  padding-top: 20px;
}

input {
  width: 193px;
  height: 30px;
}

footer {
  height: 50px;
}

#spooky, #spooky-text {
  width: 400px;
}

#spooky{
  float: left;
  margin-left: 15%;
}

#spooky-text {
  font-size: 30px;
  float: left;
  padding: 50px;
  padding-left: 0px;
}

#images {
  height: 320px;
}

ul {
  margin-top: 20px;
}

 ul li {
  display: inline-block;
}

li img {
  width: 80px;
  margin: 0px;
  padding: 0px;
}