body {
  width: 1000px;
  margin: auto;
  font-family: 'Swanky and Moo Moo', cursive;
}

@keyframes jump {
  50% {
    transform: translate(0px, -10px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.jump {
  animation-name: jump;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}
<<<<<<< HEAD
/*Ghost positioning*/
=======

#roundCounter {
  float: right;
}

#submit #next {
  float:left;
}


#ghostPics {
  position: relative;
  height: 400px;
  width: 500px;
  margin: auto;
}

#red, #yellow, #blue, #green {
  position: absolute;
}

#red {
  left: 0px;
  top: 120px;
}

#yellow {
  top: 0px;
  left: 35%;
}

#blue {
  bottom: 0px;
  left: 35%;
}

#green {
  right: 0px;
  top: 120px;
}


/* Button Style */


a {
  color:black;
  text-decoration: none;
  font-family: 'Sans';
}


/* About Us */

#backHome {
  margin-left: 260px;
  margin-right: 255px;
}

#aboutUs{
  display: inline-block;
  margin: 0px;
  padding: 0px;
}

/* Team positioning */
#team {
  position: relative;
  height: 500px;
  width: 485px;
  margin: auto;
}

.name {
  margin: 0;
  padding: 0px;
}
#col1 {
  display: inline-block;
  padding-bottom: 0px;
}

#nameSarah {
}

#imgSarah {
  margin-bottom:130px;
}

#col2 {
  display: inline-block;
}

#nameMatt {
}

#imgMatt {
}

#nameCollin {
  margin-top: 50px;
}

#imgCollin {
}

#col3 {
  display: inline-block;
  margin-right: 10px;
  float: right;
}

#nameJames {
  margin-top: 120px;
}

#imgJames {
}

.current {
  font-weight: bold;
}
