body {
  width: 1000px;
  margin: auto;
  font-family: 'Swanky and Moo Moo', cursive;
}

@keyframes jump {
  50% {
    transform: translate(0px, -10px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.jump {
  animation-name: jump;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}
/*Ghost positioning*/
#ghostPics {
  position: relative;
  height: 400px;
  width: 500px;
  margin: auto;
}

#red, #yellow, #blue, #green {
  position: absolute;
}

#red {
  left: 0px;
  top: 120px;
}

#yellow {
  top: 0px;
  left: 35%;
}

#blue {
  bottom: 0px;
  left: 35%;
}

#green {
  right: 0px;
  top: 120px;
}

/* Button Style */


a {
  color:black;
  text-decoration: none;
  font-family: 'Sans';
}


/* About Us */

#backHome {
  margin-left: 150px;
}

#aboutUs{
  display: inline-block;
  margin-left: 480px;
}

/* Team positioning */
#team {
  position: relative;
  height: 700px;
  width: 700px;
  margin: auto;
}


#col1 {
  display: inline-block;
  padding-bottom: 0px;
}

#nameSarah {
}

#imgSarah {
  margin-bottom:200px;
}

#col2 {
  display: inline-block;
  margin-left: 120px;
}

#nameMatt {
}

#imgMatt {
}

#nameCollin {
  margin-top: 137px;
}

#imgCollin {

}

#col3 {
  display: inline-block;
  margin-left: 50px;
  float: right;
}

#nameJames {
  margin-top: 223px;
}

#imgJames {
}
